<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.battleplan.prototype.ScopeMenuPrototypeActivity"
            android:exported="true"
            android:label="Scope menu prototype"
            android:theme="@style/Theme.Timebox">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="prototype"
                    android:pathPrefix="/scope-menu"
                    android:scheme="timebox" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.day.prototype.DayHeaderPrototypeActivity"
            android:exported="true"
            android:label="Day header prototype"
            android:theme="@style/Theme.Timebox">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="prototype"
                    android:pathPrefix="/day-header"
                    android:scheme="timebox" />
            </intent-filter>
        </activity>
    </application>

</manifest>
