<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
 <application android:name="android.app.Application" android:label="Tracking prototype" tools:replace="android:name,android:label">
  <activity android:name=".ui.day.prototype.ActivityTrackingPrototypeActivity" android:exported="true" android:theme="@style/Theme.Timebox" android:windowSoftInputMode="adjustResize" />
 </application>
</manifest>
