<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".ui.types.TaskTypeMergePrototypeActivity" android:exported="true" android:label="Task Type merge prototype" android:theme="@style/Theme.Timebox" />
        <activity
            android:name=".ui.day.prototype.DayHeaderPrototypeActivity"
            android:exported="true"
            android:label="Day header prototype"
            android:theme="@style/Theme.Timebox">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="prototype" android:pathPrefix="/day-header" android:scheme="timebox" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="timebox" android:host="prototype" android:path="/task-sheet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="timebox" android:host="prototype" android:path="/recurring-details" />
            </intent-filter>
        </activity>
    </application>
</manifest>
